.page{
	display: flex;
	flex-direction: column;
	padding-bottom: 382px;
	padding-top: 20px ;
}

.cap{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__logo{
		width: 50%;
	}
	&__title{
		margin-top: 93px;
		font-size: 49px;
		font-weight: 700;
		line-height: 57px;
	}
	&__descr{
		margin-top: 22px;
		font-size: 25px;
		font-weight: 400;
		line-height: 29px;
		text-align: center;
	}
	&__btn{
		margin-top: 49px;
	}
	&__left{
		position: absolute;
		left: 0;
		top: 0;
	}
	&__right{
		position: absolute;
		right: 0;
		top: 55px;
	}
}

.services{
	margin-top: 123px;
	position: relative;
	&__title{
		background: linear-gradient(26deg, #ff005c 0%, #ff8300 100%);
		width: 464px;
		padding: 8px 36px 14px 0px;
		text-align: end;
		font-weight: 500;
		font-size: 62px;
		color: #fff;
		position: relative;
		img{
			position: absolute;
			top: -34px;
			left: 15px;
		}
	}
	&__top{
		display: flex;
		justify-content: space-between;
	}
	&__descr{
		position: relative;
		text-align: end;
		display: flex;
		font-weight: 400;
		font-size: 25px;
		margin-right: 150px;
		p{
			z-index: 2;
		}
	}
	&__circle{
		position: absolute;
		top: -15px;
		right: -76px;
		height: 129px;
		width: 129px;
		border: 2px solid #00D980;
		border-radius: 129px;
		z-index: 1;
	}
	&__cards{
		margin-top: 50px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 35px;
	}
	&__middle_left{
		position: absolute;
		z-index: -1;
		left: 0px;
		top: 527px;
	}
	&__middle_right{
		position: absolute;
		z-index: -1;
		right: 0px;
		top: 508px;
	}
	&__bottom_left{
		position: absolute;
		z-index: -1;
		left: 0px;
		top: 1493px;
	}
	&__bottom_right{
		position: absolute;
		z-index: -1;
		right: 0px;
		top: 1457px;
	}
}

.advantages{
	padding: 350px 166px 0px 166px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 80px;
	
	&__item{
		align-items: center;
		display: flex;
		flex-direction: column;
		width: 370px;
	}
	&__dot{
		background-color: #FF8300;
		height: 58px;
		width: 58px;
		border-radius: 58px;
	}
	&__title{
		font-weight: 700;
		font-size: 48px;
		margin-top: 57px;
	}
	&__text{
		font-weight: 400;
		font-size: 27px;
		text-align: center;
		margin-top: 23px;
	}
}


